<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Forgot Password</title>
</head>

<body>
    <main class="main row">
        <div class="image d-flex justify-content-center col-8">
            <div class="mototext">
                <div class="moto-title">
                    <span>Sed ut perspiciatis unde omnis iste natus voluptatem.</span>
                </div>
                <div class="moto-description">
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </span>
                </div>
            </div>
        </div>
        <div class="content col-4 p-0">
            <form class="form p-5">
                <div class="title text-center">
                    <span>Forgot Password</span>
                </div>
                <div class="description text-center">
                    <span>Enter your email address you've using for your account below and we will send you a password
                        reset link</span>
                </div>
                <div class="email1">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" placeholder="Enter your email address...">
                </div>
                <div class="btn">
                    <button type="button" class="btn w-100">Reset my Password</button>
                </div>
                <div class="link">
                    <span><a href="http://127.0.0.1:5500/views/login.html">Login</a></span>
                </div>
                <div class="link-policy">
                    <span><a href="#">Private Policy</a></span>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>